
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<h2> List of the students in each section </h2>

<table>
<tr>


	<th><%= @student.first_name %></th>
	<th><%= @student.last_name %></th>
	<th><%= @student.age %></th>
	<th><%= @student.email_id%></th>
	<th><%= @student.phone_no %></th>
	<th><%= @student.address %></th>
	</tr>

</table>
	<% @subject.each do |sub| %>

	<%= sub.name %><td>
	<%= sub.description %><td>
	<%= sub.credit %><td><br/><br/>

	<% end %>


<% @result.each do |res| %>
<%= res.status%><td>
<%= res.marks %><td>
<%= res.division %><td><br/><br/>

<% end %>

</body>
</html>
<br/>
<%= link_to 'Edit', "students/edit" %>