<h2> Create new section as per standard </h2>

<%= form_for(@section) do |f| %>

	<%= f.label :name %><br/>
	<%= f.text_field :name %><br/>
	<%= f.label :standard_id %><br/>
	<%= f.text_field :standard_id %><br/>
	<%= f.label :exam_id %><br/>
	<%= f.text_field :exam_id %><br/>


	<div class="actions">
    <%= f.submit "Create" %><br/> 
  </div> 


	<% end %>