<h2> Teachers List according to standards in school by ID</h2>


	<%= @teacher.first_name  %><br/>
	<%= @teacher.last_name  %><br/>
	<%= @teacher.age  %><br/>
	<%= @teacher.email_id  %><br/>
	<%= @teacher.phone_no  %><br/>
	<%= @teacher.address  %><br/>
	<%= @teacher.area_of_expertise  %><br/>
	<%= @teacher.qualification  %><br/>
	<%= @teacher.experience  %><br/><br/>
