<h2> Update School Data </h2>

<%= form_for @school,  :url =>{:action => "update", :id =>@school} do |f| %>


 
    <%= f.label :name %><br/> 
    <%= f.text_field :name %><br/> 
    <%= f.label :address %><br/> 

    <%= f.text_area :address %> <br/> 
    <%= f.label :team %><br/> 
    <%= f.text_field :team %> <br/> 
    <%= f.label :course_offer %><br/> 
    <%= f.text_area :course_offer %><br/>
    <%= f.label :email %><br/> 
    <%= f.text_field :email %><br/><br/>
  </div> 

  <div class="actions">
    <%= f.submit "Update" %><br/> 
  </div> 

<% end %>

