<h2> List of the school by ID </h2>
<br/>


<%= @school.name %><br/>
<%= @school.address %><br/>
<%= @school.team %><br/>

<%= @school.course_offer %><br/>
<%= @school.email %><br/><br/>

 <% @standard.each do |std| %>
 <%= std.name %><br/><br/>
<!--  <%= std.school.name %> -->
 <%end%>


<%=link_to 'Edit', "schools/edit" %>

