<h2> Create New attendance status </h2>

<%= form_for(@attendance) do |f| %>  


 
	 <%= f.label :status %><br/> 
    <%= f.text_field :status %><br/> 
    <%= f.label :student_id %><br/> 
    <%= f.text_field :student_id %> <br/> 
  

  <div class="actions">
    <%= f.submit "Create" %><br/> 
  </div> 

<% end %>